@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 25px;
}

.switch::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
}

input[type="checkbox"]:checked+.switch::after {
    transform: translateX(21px);
}